
<div class="form-container" align="center" style="text-align: center">
  <img src=".\assets\images\othello2.png" width="50%" height="25%" alt="\n\n">
  <br>
  <img  id="othello" src=".\assets\images\othello1.png"  width="40%" height="50%" alt="">
  
  <form>
    <div class="form-group">
      <button mat-button (click)="loginGoogle()" id="idGoogle">
       Acceder con Google <img id="imagoogle" src=".\assets\images\nexus2cee_new_google_icon.png" alt="Acceder con Google">
      </button>
    </div>
  </form>
</div>



<!-- <button (click)="login()">LOGIN</button>

<div *ngIf="authService.user | async as user">

      <h3>Hello {{user.displayName}}</h3>
      <button (click)="authService.logout()">LOGIout</button>
  </div> --> 

